/*background: linear-gradient(90deg, #423f9c 31%, #862359 69%);
 background: linear-gradient(90deg, #00e4ce 31%, #00abc9 69%);

 bacground:#00BCD4
 #643094

  background: linear-gradient(90deg, #00e4ce 31%, #00abc9 69%);blue*/

  
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  height: 100%;
  width: 100%;
  /*background: #ae48e8;*/
}
.wrapper{
  text-align: center;
  display: grid;
  place-items:center;
  margin: 50px auto 50px auto;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.wrapper .box{
  width: 400px;
  margin: 0px auto 20px auto;
  position: relative;
  perspective: 1000px;
}
.counter_score{
  background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url('images/pandanew.jpeg');
  background-size: cover;
  height: auto;
  width: 100%;
  background-attachment: fixed;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  padding-top: 60px;
}

.card {
  width: 20%;
  background: rgba(255,255,255,0.9);
  /*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
  border-radius: 10px;
  margin-bottom: 50px;
  transition: 0.3s;
}

.card-header {
  text-align: center;
  padding: 50px 10px;
}
.card-header h1, .card-header h3, .card-header span{
    color: black;
}
@media screen and (max-width: 1000px) {
  .card {
    width: 40%;
  }
}

@media screen and (max-width: 620px) {
  .container {
    width: 100%;
  }

  .heading {
    padding: 20px;
    font-size: 20px;
  }

  .card {
    width: 80%;
  }
}

.wrapper .box .front-face{
  background: #fff;
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 5px 20px 0px rgba(0, 81, 250, 0.1);
  transition: all 0.5s ease;
}
.box .front-face .icon{
  height: 80px;
}
.box .front-face .icon i{
  font-size: 65px;
}
.box .front-face span,
.box .back-face span{
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
}
.box .front-face .icon img,
.box .front-face span{
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.box .back-face{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 300px;
  width: 100%;
  padding: 30px;
  color: #fff;
  opacity: 0;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  transform: translateY(110px) rotateX(-90deg);
  box-shadow: 0px 5px 20px 0px rgba(0, 81, 250, 0.1);
  transition: all 0.5s ease;
}
.box .back-face p{
  margin-top: 10px;
  text-align: justify;
}
.box:hover .back-face{
  opacity: 1;
  transform: rotateX(0deg);
}
.box:hover .front-face{
  opacity: 0;
  transform: translateY(-110px) rotateX(90deg);
}

.down p{
  color: black;
}

/* section Team css starts here*/
.team{
  text-align: center;
  /*margin-top: 50px;*/
  width: 100%;
  /*background: lightblue;*/
}
.team .team_heading{
  margin-top: 80px;
  color:black;
  font-size: 48px;
  font-weight: bold;
}
.team_row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  padding-top: 60px;
}

.team_card {
  width: 400px;
  border-radius: 10px;
  margin-bottom: 50px;
  transition: 0.3s;
  overflow:hidden;
  background: rgba(0,0,0,0.9);
  /*background: linear-gradient(90deg, #423f9c 31%, #862359 69%);*/
}

.team_card_header{
  overflow: hidden;
}
.team_card_header img{
  width: 400px;
  height: 400px;
  transition: 0.6s ease;
}
.team_card_header img:hover{
  transform: scale(1.2);
}
.team_card_header img:hover .team_card_header{
  background: rgba(0,0,0,0.6);
}
.team_card h1, .team_card h3{
    color: rgba(255,255,255,0.9);
    font-weight: bolder;
    font-style: oblique;
}

/*our work*/

.our_work{
  text-align: center;
  background: linear-gradient(90deg, #00e4ce 31%, #00abc9 69%);
}
.our_work .heading{
  color: black;
  padding-top: 100px;
  font-size: 48px;
}
.row_work {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  padding-top: 60px;
}

.card_work {
  width: 30%;
  background: rgba(255,255,255,0.9);
  /*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
  border-radius: 10px;
  margin-bottom: 50px;
  transition: 0.3s;
}

.card-header_work {
  text-align: center;
  padding: 50px 10px;
}
.card-header_work h1, .card-header_work h3, .card-header_work span{
    color: black;
}

/* mision vision starts*/
.mision_vision{
  background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('images/pandanew.jpeg');
  background-size: cover;
  background-attachment: fixed;
  display: table;
}

.mv_row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  padding-top: 60px;
}

.mv_card {
  width: 40%;
  min-height: 60vh;
  height: auto;
  padding-top: 20px;
  background: linear-gradient(to right, lightgrey, darkgrey);
  /*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
  border-radius: 10px;
  margin-bottom: 50px;
  transition: 0.4s ease-in-out;
}
.mv_card:hover{
  box-shadow: 5px 5px 15px #aaaaaa;
  }

.mv_card_header {
  text-align: center;
  padding: 50px 10px;
}
.mv_card_header h1{
  margin-top: 20px;
  color: black;
  font-size: 36px;
}

.mv_card_header p{
      text-align: justify;
      color: black;
      margin-top: 20px;
}
@media screen and (max-width: 1000px) {
  .mv_card {
    width: 40%;
  }
}

@media screen and (max-width: 620px) {
  .container {
    width: 100%;
  }

  .heading {
    padding: 20px;
    font-size: 20px;
  }

  .mv_card {
    width: 80%;
  }
}


/* mision vision ends*/
@media screen and (max-width: 1000px) {
  .card_work{
    width: 40%;
  }
}

@media screen and (max-width: 620px) {
  .container {
    width: 100%;
  }
  .our_work .heading, .team_heading{
    font-size: 34px;
  }

  .heading {
    padding: 20px;
    font-size: 20px;
  }

  .card_work{
    width: 80%;
  }
}


/* our work end*/
@media screen and (max-width: 1000px) {
  .team_card {
    width: 400px;
  }
  .team_card_header img{
    width: 450px;
  }
}

@media screen and (max-width: 620px) {
  .container {
    width: 100%;
  }

  .heading {
    padding: 20px;
    font-size: 20px;
  }

  .team_card {
    width: 320px;
  }
  .team_card_header img{
    width: 320px;
    height: auto;
  }

}

.google_map{
  width: 100%;
}
.google_map h1{
  color: #000;
  font-size: 32px;
  text-align: center;
  width: 100%;
  margin-bottom: 40px;
}
.google_map_mid{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}
.google_map_mid iframe{
  width: 90%;
  min-height: 80vh;
  height: auto;
}



footer{
  position: relative;
  background: #111;
  color: #fff;
}
.main-content{
  color: #d9d9d9;
  display: block;
}
.main_content_box{
  display: flex;
}
.main_content_box .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
  width: auto; 
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 50%;
  background: #1a1a1a;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
} 
.left .content p{
  text-align: justify;
  color: #fff;
}
.box_under_line{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.under_line{
  margin-top: 5px;
  border: 1px solid grey;
  width: 90%; 
}
.main-content .social{
  text-align: center;
  /*margin: 20px 0 20px 0;*/
  padding: 20px 0; 
}
.main-content .social a{
  padding: 0 20px;
}
.main-content .social a span{
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.main-content .social a span:hover{
  background: #f12020;
}
.main-content .fa{
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.main-content .fa:hover{
  background: #f12020;
}
.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  /*padding-left: 10px;*/
}
.center .content .phone{
  margin: 15px 0;
}
.place .map{
  width: 50px;
  height: 50px;
}
.place span{
/*  display: inline-block;*/
}
.place h1{
  font-size: 20px;
  text-align: left;
  margin-top: 20px;
}

/*contact us starts here*/
.contact_us{
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact_us .contact_content{
  max-width: 800px; text-align: center;
}
.contact_us .contact_content h1{
  font-size: 36px;
  font-weight: 500;
  border-bottom: 2px solid lightgrey;
}
.contact_container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
.contact_container .contact_info{
  width: 50%;
  display: flex;flex-direction: column;
}
.contact_container .contact_info .contact_box{
  position: relative;
  padding: 20px 0;
  display: flex;
}
.contact_container .contact_info .contact_box .contact_icon{
  min-width: 60px;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
  color: #000;
}
.contact_container .contact_info .contact_box .contact_text{
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
}
.contact_container .contact_info .contact_box .contact_text h1{
  color: #00bcd4;
}
.contact_us_form{
  width: 40%;
  padding: 40px;
  background: #fff;
  /*background:  rgba(255,175,13,0.6);*/
}
.contact_us_form h2{
  font-size: 30px;
  font-weight: 500;
  color: #000;
}
.contact_us_form .input_box{
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contact_us_form .input_box input, .contact_us_form .input_box textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  color: #000;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}
.contact_us_form .input_box input[type="submit"]{
  width: 100%;
  background: #00bcd4;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

@media(max-width: 990px){
  .contact_us{
    padding: 50px;
  }
  .contact_us .contact_container{
    flex-direction: column;
  }
  .contact_container .contact_info{
    margin-bottom: 40px;
  }
  .contact_container .contact_info, .contact_us_form{
    width: 100%;
  }
}
/*contact us end here*/
@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main_content_box{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main_content_box .box{
    margin: 5px 0;
  }
}


/* section Team css ends here*/

@media (max-width: 490px){
      .wrapper{
      display: grid;
      place-items:center;
      margin: 50px auto 50px auto;
      grid-gap: 30px;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
   .wrapper .box{
      width: 275px;
    }
}
